@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Giriş yapmak için <a asp-controller="Giris" asp-action="Index">Tıklayınız</a>.</p>
    <p>Kayıt olmak için <a asp-controller="Kayit" asp-action="Index">Tıklayınız</a>.</p>
</div>
